@import 'styles/utils.scss';

.Container {
    display: flex;
    align-items: center;
    height: 100%;
}

.Content {
    height: 100%;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
}

.Portrait {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: var(--surface-bg-color);
    border-radius: 50%;
    box-shadow: 0 0 0 1.25rem rgba(var(--surface-bg-rgb-color), 0.5);
}

.SocialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    padding: 1rem;
    margin-top: 1.75rem;

    color: var(--content-color);

    &>p {
        font-family: 'Italiana', sans-serif;
        font-size: 1.25rem;
    }
}

.InstagramLink {
    margin-left: 0.5rem;
    border-radius: 25%;
    transition: all ease-in 0.1s;

    &:hover {
        scale: 1.1;
        color: var(--content-strong-color);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    }

}
