@import 'styles/utils.scss';

.Container {
    display: flex;
    align-items: center;
    height: 100%;
}

.Content {
    height: 100%;
    max-height: 1000px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.Portrait {
    position: relative;
    width: 100%;
    background-color: var(--surface-bg-color);
    border-radius: 50%;
    box-shadow: 0 0 0 1.25rem rgba(var(--surface-bg-rgb-color), 0.5);
}

.SocialMedia {
    display: flex;
    justify-content: center;
    width: 30rem;
    padding: 1rem;
    margin-top: 1.75rem;

    &>p {
        font-family: 'Italiana', sans-serif;
    }
}
