.canvas-container {
  position: absolute;
  width: calc(100vw - var(--large-padding) * 2);
  height: calc(100vh - var(--large-padding) * 2);
  margin: 0 auto;
  /* filter: blur(20px); */
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapp {
  position: relative;
}

.title {
  margin-left: 3.25rem;
  color: var(--headers-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding-right: var(--regular-padding);
  color: var(--content-color);
}

.work-profiles {
  position: absolute;
  top: 14.5rem;
  left: -1.25rem;
}
