@import '../../styles/responsive.scss';

$l-desktop: get-breakpoint('l-desktop');

.Wrapper {
  overflow: hidden;
  border-radius: var(--small-border-radius);
  margin: 4px;
}

.HeaderWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
