$arrow-side-length: 0.75rem;
$arrow-gap: $arrow-side-length / 2;

.Tooltip {
    position: absolute;
    display: none;
    opacity: 0.8;
    width: max-content;
    max-width: 200px;
    background: var(--bg-strong-color);
    color: var(--content-strong-color);
    font-size: 12px;
    padding: 5px;
    border-radius: var(--small-border-radius);
    box-shadow: 0 2px 0 green;

    &::after {
        content: " ";
        position: absolute;
        border-width: $arrow-gap;
        border-style: solid;
        border-color: green transparent transparent transparent;
    }

    &[data-placement*='bottom'] {
        left: -110%;
        margin-top: $arrow-side-length;
        box-shadow: 0 -2px 0 green;

        &::after {
            top: -$arrow-side-length;
            left: 50%;
            margin-left: -$arrow-gap;
            border-color: transparent transparent green transparent;
        }
    }

    &[data-placement*='bottomRight'] {
        left: 75%;

        &::after {
            left: $arrow-side-length;
        }
    }

    &[data-placement*='bottomLeft'] {
        right: 75%;

        &::after {
            right: $arrow-gap;
            left: auto;
        }
    }

    &[data-placement*='left'] {
        top: 25%;
        right: 100%;
        margin-right: $arrow-side-length;
        box-shadow: 2px 0 0 -0.5px green;

        &::after {
            top: 50%;
            right: -$arrow-side-length;
            width: 0;
            height: 0;
            margin-top: -$arrow-gap;
            border-color: transparent transparent transparent green;
        }
    }

    &[data-placement*='leftTop'] {
        top: 0;

        &::after {
            top: $arrow-gap;
        }
    }

    &[data-placement*='leftBottom'] {
        top: auto;
        bottom: 0;

        &::after {
            top: auto;
            bottom: 0;
        }
    }


    &[data-placement*='right'] {
        top: 25%;
        left: 100%;
        margin-left: $arrow-side-length;
        box-shadow: -2px 0 0 -0.5px green;

        &::after {
            top: 50%;
            left: -$arrow-side-length;
            margin-top: -$arrow-gap;
            border-color: transparent green transparent transparent;
        }
    }

    &[data-placement*='rightTop'] {
        top: 0;

        &::after {
            top: auto;
            bottom: 0;
        }
    }

    &[data-placement*='rightBottom'] {
        top: auto;
        bottom: 0;

        &::after {
            top: $arrow-gap;
        }

    }

    &[data-placement*='top'] {
        bottom: 100%;
        margin-bottom: $arrow-side-length;

        &::after {
            top: 100%;
            left: 50%;
            margin-left: -$arrow-gap;
        }
    }

    &[data-placement*='topRight'] {
        left: 75%;

        &::after {
            left: $arrow-side-length;
        }
    }

    &[data-placement*='topLeft'] {
        right: 75%;

        &::after {
            right: $arrow-gap;
            left: auto;
        }
    }

}

.Container {
    position: relative;

    &:hover {
        .Tooltip {
            display: flex;
        }
    }
}
