// Export color variables to use in JS

:export {
  bgColor: var(--bg-color);
  bgStrongColor: var(--bg-strong-color);
  surfaceBgColor: var(--surface-bg-color);
  headersColor: var(--headers-color);
  decorLinesColor: var(--decor-lines-color);
  contentColor: var(--content-color);
  contentStrongColor: var(--content-strong-color);
  spherePrimaryColor: var(--sphere-primary-color);
  sphereSecondaryColor: var(--sphere-secondary-color);
}
