.Form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    max-width: 550px;
    max-height: 550px;
    margin-top: 2.5rem;
}

.Input {
    margin: 0.25rem 0 0.75rem 0;
    height: 50px;
    border: 0.5px solid var(--border-color);
    border-radius: var(--small-border-radius);
    background-color: rgba(var(--surface-bg-rgb-color), 0.5);
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--content-color);
    transition: all 0s;

    &:focus {
        outline: 0.5px solid var(--purple-30-color);
    }

    // Submit(send) button
    &[type=submit] {
        background: linear-gradient(180deg, var(--button-primary-color) 0%, transparent 150%);
        border: 0;
        color: var(--button-text-color);
        letter-spacing: 8px;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
            background: linear-gradient(180deg, var(--button-primary-color) 0%, transparent 180%);
        }

        &:active {
            background: linear-gradient(180deg, var(--button-primary-color) 0%, transparent 230%);
        }
    }
}

.Label {
    display: flex;
    flex-direction: column;
    font-size: 18px;

    & textarea {
        height: 120px;
    }
}
