@keyframes rotate {
    to {
        transform: rotateY(-360deg);
    }
}

.Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 3rem;
    right: 0;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        // animation: scrollText 24s infinite linear;
    }
}


.LocationName {
    margin-left: var(--small-padding);
    color: var(--content-color);
    text-transform: uppercase;
}
