.Switch {
  --thumb-position: 0%;
  --thumb-size: 1rem;
  --track-size: 2.25rem;

  position: relative;
  display: flex;
  width: fit-content;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &>input {
    appearance: none;
    border: none;
    outline-offset: 5px;
    box-sizing: content-box;

    flex-shrink: 0;
    display: grid;
    align-items: center;
    grid: [track] 1fr / [track] 1fr;

    padding: 4px;
    background: var(--bg-strong-color);
    inline-size: var(--track-size);
    block-size: var(--thumb-size);
    border-radius: 1rem;

    &::before {
      content: "";
      grid-area: track;
      inline-size: var(--thumb-size);
      block-size: var(--thumb-size);
      background: var(--content-strong-color);
      border-radius: var(--circle-radius);
      transform: translateX(var(--thumb-position));
    }

    &:checked {
      --thumb-position: calc(var(--track-size) - 100%);
    }

  }
}

.LightThemeIcon,
.DarkThemeIcon {
  position: absolute;
  top: 3px;
}

.DarkThemeIcon {
  right: 2px;
}

.LightThemeIcon {
  left: 4px;
}
