$arrow-side-length: 0.75rem;
$arrow-gap: calc($arrow-side-length / 2);


.Container {
    position: relative;

    &:hover {
        .Tooltip {
            display: flex;
        }
    }
}


.Tooltip {
    position: absolute;
    display: none;
    opacity: 0.8;
    width: max-content;
    max-width: 200px;
    background: var(--bg-strong-color);
    color: var(--content-strong-color);
    font-size: 12px;
    padding: 5px;
    border-radius: var(--small-border-radius);
    box-shadow: 0 2px 0 var(--tooltip-color);

    &::after {
        content: " ";
        position: absolute;
        border-width: $arrow-gap;
        border-style: solid;
        border-color: transparent;
    }

    &[data-placement*='top'] {
        right: -100%;
        bottom: 100%;
        margin-bottom: $arrow-side-length;

        &::after {
            top: 100%;
            left: 50%;
            margin-left: -$arrow-gap;
            border-top-color: var(--tooltip-color);
        }
    }

    &[data-placement*='right'] {
        top: 25%;
        left: 100%;
        margin-left: $arrow-side-length;
        box-shadow: -2.5px 0 0 -0.5px var(--tooltip-color);

        &::after {
            top: 50%;
            left: -$arrow-side-length;
            margin-top: -$arrow-gap;
            border-right-color: var(--tooltip-color);
        }
    }

    &[data-placement*='bottom'] {
        left: -110%;
        margin-top: $arrow-side-length;
        box-shadow: 0 -2px 0 var(--tooltip-color);

        &::after {
            top: -$arrow-side-length;
            left: 50%;
            margin-left: -$arrow-gap;
            border-bottom-color: var(--tooltip-color);
        }
    }

    &[data-placement*='left'] {
        top: 25%;
        right: 100%;
        margin-right: $arrow-side-length;
        box-shadow: 2px 0 0 -0.5px var(--tooltip-color);

        &::after {
            top: 50%;
            right: -$arrow-side-length;
            width: 0;
            height: 0;
            margin-top: -$arrow-gap;
            border-left-color: var(--tooltip-color);
        }
    }
}
