@import './styles/responsive.scss';
@import './styles//utils.scss';

$xl-desktop: get-breakpoint('xl-desktop');

:root {
  /* COLORS */
  --white-color: #ffffff;
  --gray-10-color: #f6f6f6;
  --gray-20-color: #efefef;
  --gray-30-color: #cccccc;
  --gray-40-color: #aaaaaa;
  --gray-50-color: #a9a9a9;
  --gray-60-color: #787878;
  --gray-70-color: #505050;
  --gray-80-color: #4a4a4a;
  --gray-90-color: #212121;
  --gray-100-color: #121212;
  --blue-10-color: #999dff;
  --blue-20-color: #7376c3;
  --purple-10-color: #e1b2f0;
  --purple-20-color: #ebacff;
  --purple-30-color: #b585c5;

  /* RGB COLOR */
  --gray-20-rgb-color: 239, 239, 239;
  --gray-40-rgb-color: 170, 170, 170;
  --gray-80-rgb-color: 74, 74, 74;
  --gray-90-rgb-color: 33, 33, 33;

  /*RADIUSES */
  --circle-radius: 50%;
  --small-border-radius: 4px;
  --medium-border-radius: 8px;
  --large-border-radius: 12px;

  /* SPACE */
  --small-padding: 0.75rem;
  --regular-padding: 1.5rem;
  --large-padding: 2rem;

  --transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all var(--transition);
}

.dark,
.light {
  background: var(--bg-color);
}

/* LIGHT COLOR TOKENS */
.light {
  --bg-color: var(--gray-10-color);
  --bg-strong-color: var(--gray-70-color);
  --surface-bg-color: var(--gray-20-color);
  --surface-bg-rgb-color: var(--gray-20-rgb-color);
  --headers-color: var(--gray-70-color);
  --decor-lines-color: var(--gray-60-color);
  --content-color: var(--gray-60-color);
  --content-strong-color: var(--gray-10-color);
  --helper-text-color: var(--gray-50-color);
  --shadow-color: var(--gray-40-rgb-color);
  --sphere-primary-color: var(--blue-10-color);
  --sphere-secondary-color: var(--purple-20-color);
  --tooltip-color: var(--blue-10-color);
}

/* DARK COLOR TOKENS */
.dark {
  --bg-color: var(--gray-100-color);
  --bg-strong-color: var(--gray-30-color);
  --surface-bg-color: var(--gray-90-color);
  --surface-bg-rgb-color: var(--gray-90-rgb-color);
  --headers-color: var(--gray-30-color);
  --decor-lines-color: var(--gray-40-color);
  --content-color: var(--gray-50-color);
  --content-strong-color: var(--gray-100-color);
  --helper-text-color: var(--gray-50-color);
  --shadow-color: var(--gray-80-rgb-color);
  --sphere-primary-color: var(--blue-20-color);
  --sphere-secondary-color: var(--purple-30-color);
  --tooltip-color: var(--blue-20-color);
}

.App {
  max-width: $xl-desktop;
  margin: 0 auto;
  overflow: hidden;
}
