:root {
  /* COLORS */
  --white-color: #ffffff;
  --gray-10-color: #f6f6f6;
  --gray-20-color: #efefef;
  --gray-30-color: #cccccc;
  --gray-40-color: #aaaaaa;
  --gray-50-color: #a9a9a9;
  --gray-60-color: #787878;
  --gray-70-color: #505050;
  --gray-80-color: #4a4a4a;
  --gray-90-color: #181818;
  --gray-100-color: #121212;
  --blue-10-color: #999dff;
  --blue-20-color: #7376c3;
  --purple-10-color: #e1b2f0;
  --purple-20-color: #ebacff;
  --purple-30-color: #b585c5;

  /*RADIUSES */
  --circle-radius: 50%;

  /* SPACE */
  --small-padding: 0.75rem;
  --regular-padding: 1.5rem;
  --large-padding: 2rem;

  --transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all var(--transition);
}

.dark,
.light {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  padding: var(--large-padding);
}

/* LIGHT COLOR TOKENS */
.light {
  --bg-color: var(--gray-10-color);
  --bg-strong-color: var(--gray-70-color);
  --surface-bg-color: var(--gray-20-color);
  --headers-color: var(--gray-70-color);
  --content-color: var(--gray-60-color);
  --content-strong-color: var(--gray-10-color);
  --sphere-animation-1-color: var(--blue-10-color);
  --sphere-animation-2-color: var(--purple-20-color);
}

/* DARK COLOR TOKENS */
.dark {
  --bg-color: var(--gray-100-color);
  --bg-strong-color: var(--gray-30-color);
  --surface-bg-color: var(--gray-90-color);
  --headers-color: var(--gray-30-color);
  --content-color: var(--gray-50-color);
  --content-strong-color: var(--gray-100-color);
  --sphere-animation-1-color: var(--blue-20-color);
  --sphere-animation-2-color: var(--purple-30-color);
}

.App {
  max-width: 1680px;
  margin: 0 auto;
}
