.Container {
    position: relative;
}

.NameLogo {
    margin-left: 3.25rem;
    color: var(--headers-color);
}

.InIcon,
.GhIcon {
    position: absolute;
    left: -1.25rem;
    color: var(--decor-lines-color);
    width: 40px;
    height: 40px;
}

.InIcon {
    top: 10.5rem;
}

.GhIcon {
    top: 16rem;
}

.InIcon:hover,
.GhIcon:hover {
    cursor: pointer;
    transform: scale(1.3);
}
