.Container {
    position: relative;
}

.NameLogo {
    margin-left: 2.75rem;
    color: var(--headers-color);
    // text-shadow: 0 2px 4px var(--shadow-color);
    font-family: "Italiana", sans-serif;
}

.InIcon,
.GhIcon {
    position: absolute;
    left: -1.25rem;

    &>svg {
        color: var(--decor-lines-color);
        width: 40px;
        height: 40px;
    }
}

.InIcon {
    top: 10.5rem;
}

.GhIcon {
    top: 16rem;
}

.InIcon:hover,
.GhIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 50%;
}
